<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">
	
	<context:property-placeholder location="classpath:application.properties"/>
	
	<bean id="fortune" class="com.ixns.practice.RandomFortune">
		<constructor-arg value="${fortune.array}"></constructor-arg>
	</bean>
	
	<bean id="coach" 
			class="com.ixns.practice.SoccerCoach"
			init-method="startup"
			destroy-method="cleanup">
		<constructor-arg ref="fortune"></constructor-arg>
	</bean>
	
	<bean id="protoCoach" 
			class="com.ixns.practice.SoccerCoach" 
			scope="prototype"
			init-method="startup"
			destroy-method="destroy">
		<constructor-arg ref="fortune"></constructor-arg>
	</bean>
	
	<bean id="customProcessor" class="com.ixns.practice.CustomBeanProcessor"></bean>
</beans>